* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--corPrimaria);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

:root {
    --corPrimaria: #ecf0f1;
    --corSecundaria: #45aaf2;
    --corTextos: #000;
}